header {
  background-color: #c92433;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 100;

  h3 {
    @extend .vertical-center;

    color: #fff;
    margin: 0;
  }

  h3, .header-search {
    display: inline-block;
  }

  .header-search {
    float: right;
    margin: calc((#{$header-height} - #{$search-height}) / 2) 0;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: calc(#{$header-height} * 1.5);

    h3 {
      position: relative;
      transform: none;
      display: block;
      text-align: center;
      padding: 10px;
    }

    .header-search {
      width: 100%;
      margin: 0 auto;
    }

    .search-wrapper {
      margin: 0 auto;
    }
  }
}
