body {
  font-family: 'Roboto', sans-serif;
  background: $white-smoke;
  color: $bright-grey;
}

.home {
  background: url('~images/food-background-325.jpg') no-repeat center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.center-box {
  @extend .vertical-center;
  @extend .horizontal-center;

  padding: 50px;
  border-radius: 5px;
  top: 35%;

  h2 {
    color: $cardinal;
    text-align: center;
    padding-bottom: 5px;
  }
}

.search-result-wrapper {
  padding-top: calc(#{$header-height} + 20px);
}
