.main-restaurant-wrapper {
}

.restaurant-card {
  background: #fff;
  box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
  margin: 20px 5px;
  position: relative;

  .content-box {
    padding: 15px;
  }

  aside {
    display: inline-block;
    padding: 0 10px;
  }

  .cover-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: $cover-image-height;
    width: 100%;

    &.no-cover-img {
      background: url('~images/placeholder.jpg') no-repeat center;
      background-size: cover;
    }
  }

  .thumb-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    float: left;
    height: 120px;
    width: 120px;
  }

  .name {
    color: darken($cardinal, 3%);
    display: inline-block;
    margin-bottom: 0;
    max-width: 300px;
    padding-top: 0;
  }

  .address, .cuisines, .pricing, .voting {
    color: $dark-grey;
    font-size: 13px;
    margin-bottom: 0;
  }

  .address {
    max-width: 250px;
  }

  .cuisines {
    color: #000;
  }

  .user-rating {
    position: absolute;
    right: 10px;

    .rating {
      border-radius: 4px;
      color: #fff;
      line-height: $rating-height;
      margin: auto;
      text-align: center;
      width: 35px;
    }
  }
}

.action-items {
  width: 100%;
  display: flex;


  .action-item {
    border-right: 1px solid darken($white-smoke, 5%);
    border-top: 1px solid darken($white-smoke, 5%);
    color: $bright-grey;
    display: inline-block;
    flex: 1 1;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;

    .fa {
      padding-right: 5px;
    }

    &:last-child {
      border-right: none;
    }

    &:hover {
      background-color: darken(#fff, 3%);
    }
  }

  .online-delivery {
    color: $fruit-salad;

    &:hover {
      background-color: $fruit-salad;
      color: #fff;
    }
  }

  .book-table {
    color: $dodger-blue;

    &:hover {
      background-color: $dodger-blue;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 500px) {
  .thumb-img {
    display: none;
  }
}
