.search-wrapper {
  position: relative;
  width: $search-width;

  .fa {
    @extend .vertical-center;

    padding: 0 10px;
  }

  input {
    height: $search-height;
    border: none;
    padding: 5px;
    padding-left: 30px;
    width: 100%;
    border-radius: 5px;
  }
}
