// Sizes
$header-height: 80px;
$search-width: 300px;
$search-height: 40px;
$cover-image-height: 180px;
$rating-height: 25px;

// Colors
$cardinal: #c92433;
$dark-grey: #9e9e9e;
$white-smoke: #f5f5f5;
$bright-grey: #595c60;
$dodger-blue: #2979ff;
$fruit-salad: #4caf50;
